.new-response.white
  %h1
    Welcome to Friends chat
  %p
    Friends chat is free and secure and open source. Here you can pass text and images. we don't expose the content to public. You will be immediatly expelled if you reffer drugs, child porn etc. Have a happy chatting.
    .h-desc
      serious adult dating site for finding partners, adult chat, adult image shareing.

    = link_to 'sign up', new_user_registration_path
    to continue. No email confirmation needed.
    If you are interested in a serious relationship we recommend
    = link_to 'faqfacebook.com', 'https://www.faqfacebook.com'